$blue: #9cc6f0
$red: #dd2d2d

html, body
  margin: 0
  padding: 0
  height: 100vh
  font-family: sans-serif
  overflow: hidden

.exposant
  font-size: 50%
  transform: translateY(-10px)


#coord-display
  position: absolute
  top: 10px
  right: 10px
  color: black
  z-index: 2
  font-size: 12px

#canvas
  height: 100vh
  width: 100%


.text-center
  text-align: center

.container-fluid
  width: 100%
  padding: 30px
  border-top: 1px solid black

.blue
  color: $blue

.red
  color: $red



.slide-left-enter-active, .slide-bottom-enter-active, .slide-left-leave-active, .slide-bottom-leave-active, .fade-enter-active, .fade-leave-active, .slide-right-enter, .slide-right-leave-to
  transition: .5s

.fade-long-enter-active, .fade-long-enter-active
  transition: 2s


.slide-left-enter, .slide-left-leave-to /* .fade-leave-active below version 2.1.8 */
  transform: translateX(-100%)

.slide-right-enter, .slide-right-leave-to /* .fade-leave-active below version 2.1.8 */
  transform: translateX(100px)

.slide-bottom-enter, .slide-bottom-leave-to
  transform: translateY(200px)

.fade-enter, .fade-leave-to, .fade-long-enter, .fade-long-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity: 0

